<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Files</title>
  </head>
  <body>
    <h1>Upload two images</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file1" />
      <input type="file" name="file2" />
      <input type="submit" value="Upload" />
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
